---
layout: base
show_title: false
titles:
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
---
<main class="post-list">
  {%- include apollo/post-list.html articles=paginator.posts show_excerpt=true -%}

  {%- if paginator.total_pages > 1 -%}
    <ul class="pagination">
      {%- if paginator.previous_page -%}
        {%- include snippets/prepend-baseurl.html path=paginator.previous_page_path -%}
        <span class="page-item page-prev"><a class="page-link" href="{{ __return }}">&larr; Prev</a></span>
      {%- endif -%}
      {%- if paginator.next_page -%}
        {%- include snippets/prepend-baseurl.html path=paginator.next_page_path -%}
        <span class="page-item page-next"><a class="page-link" href="{{ __return }}">Next &rarr;</a></span>
      {%- endif -%}
    </ul>
  {%- endif -%}
</main>

{{ content }}
