---
layout: base
titles:
  en      : &EN       Posts
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
---
{%- assign _full_posts = site.posts | where_exp: 'p', "p.type != 'note'" -%}
<main class="post-list">
  {%- include snippets/get-article-title.html article=page -%}
  <div class="page-header">{{ __return }}</div>

  {%- include apollo/tag-filter.html posts=_full_posts -%}

  <div class="js-post-list d-none">
    {%- include apollo/post-list.html articles=_full_posts group_by_year=true reverse=true -%}
  </div>
</main>

<script defer src="{{ '/assets/js/tagfilter.js' | relative_url }}"></script>

{{ content }}
